body {
  margin:0;
  padding:0;
}
navbar li {
  float: right;
  list-style: none;
  margin: 10px;
  margin-right: 30px;
  font-family: Poppins;
  font-size: 15px;
}

.navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px;
  color: #fff4f4;
  height: 60px;
  
}

.br {
  font-family: Poppins;
  margin-left: 20px;
}

h1 {
  font-family: Poppins;
  font-weight: 400;
  font-size: 25px
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.projects {
  margin-left: 25px;
  font-family: Poppins;
  font-size: 30px;
  
}

.line {
  width: 90%;
}

.firstline {
  display: flex;
  justify-content: center;
  align-items: center;

}

.img1 {
  width: 300px;
  height: 200px;
  padding: 10px;
  margin-left: 20px;
}

.img2 {
  width: 300px;
  height: 200px;
  padding: 10px;
}

.img3 {
  width: 300px;
  height: 200px;
  padding: 10px;
}

.img4 {
  width: 300px;
  height: 200px;
  padding: 10px;
  margin-right: 20px;
}


.secondline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img5 {
  width: 300px;
  height: 200px;
  padding: 10px;
  margin-left: 20px;
}

.img6 {
  width: 300px;
  height: 200px;
  padding: 10px;
}

.img7 {
  width: 300px;
  height: 200px;
  padding: 10px;
}

.img8 {
  width: 300px;
  height: 200px;
  padding: 10px;
  margin-right: 20px;
}

.about {
  font-family: Poppins;
  font-size: 30px;
  margin-left: 25px;
}

.sline {
  width: 90%;
}

.lorem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Poppins;
}

.team {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.john {
  margin-left: 10px;
}

.jimg {
  width: 300px;
  height: 200px;
  padding: 5px;
}

.jaimg {
  width: 300px;
  height: 200px;
  padding: 5px;
}

.mimg {
  width: 300px;
  height: 200px;
  padding: 5px;
}

.dimg {
  width: 300px;
  height: 200px;
  padding: 5px;
}

button:hover {
  background-color: #535252
}

button {
  background-color: #cec9c9;
  color: rgb(0, 0, 0);
  padding: 5px;
  font-family: Poppins;
}

.jcontact {
  width: 95%;
  padding: 5px;
  border: none;

}

.jacontact {
  width: 95%;
  padding: 5px;
  border: none;
}

.mcontact {
  width: 95%;
  padding: 5px;
  border: none;
}

.dcontact {
  width: 95%;
  padding: 5px;
  border: none;
}

h3 {
  font-family: Poppins;
}

h4 {
  font-family: Poppins;
}

p {
  font-family: Poppins;
}

.contact {
  font-family: Poppins;
  font-size: 30px;
  margin-left: 25px;
}

.tline {
  width: 90%;
}

.tch {
  margin-left: 10px;
}

#name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  padding: 8px;
  margin: 5px;
  margin-left: 10px;
}

#email {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  padding: 8px;
  margin: 5px;
  margin-left: 10px;
}

#subject {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  padding: 8px;
  margin: 5px;
  margin-left: 10px;
}

#comment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  padding: 8px;
  margin: 5px;
  margin-left: 10px;
}

.submit {
  border: none;
  margin-left: 10px;
  width: 130px;
  padding: 5px;
}

.address {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px;
  color: #fff4f4;
  height: 8%;
}